h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dotted black;
  margin: auto;
  margin-left: 35%;
  margin-right: 35%;
  background-color: #1877f2;
  border-radius: 8%;
}
button {
  background-color: black;
  color: white;
  border-radius: 24%;
}
